html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title chat
  body

    h1 chat 서비스 로직
    div 챗 목록

    form
      input(placeholder="채팅을 입력해주세요")
      button 보내기