<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test page</title>
</head>
<body>
  <p>main test page입니다.</p><br/>
  <a href="/login">login page</a><br/>
  <a href="/join">join page</a><br/>
</body>
</html>