head
  meta(charset='utf-8')
  title sign up test page 
body
  form(method='post' action='/register')
    input(type='text' name='user_id' id='user_id' placeholder="아이디")
    br
    input(type='text' name='user_pw' id='user_pw' placeholder="비밀번호")
    br
    input(type='text' name='user_name' id='user_name' placeholder="이름")
    br
    input(type='text' name='user_nick' id='user_nick' placeholder="닉네임")
    br
    input(type='text' name='user_phone' id='user_phone' placeholder="핸드폰 번호")
    br
    input(type='submit' value='회원가입')
    input(type='button' value='로그인 화면' onclick="location.href='/login'")
