<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>test page</title>
</head>
<body>
  <div>
    <div>
      <form>
        <input id="userId" type="text" placeholder="아이디"/>
        <input id="userPw" type="password" placeholder="비밀번호"/>
        <button id="button">login</button>
        <a href="/join">join</a>
      </form>
    </div>
  </div>
  <script src="../public/js/login.js"></script>
</body>
</html>

<!-- onclick="button1_click('') -->