
head
  meta(charset='utf-8')
  title login test 
body
  form(action="/login/test" method="post") 
    input(type='text' name='user_id' placeholder="id")
    br
    input(type='text' name='user_pw' placeholder="password")
    br
    input(type='submit' value='로그인')
    input(type='button' value='회원가입' onclick="location.href='/join'")
